<style> body { background-image: linear-gradient(to right, #00ff0e, #00e9aa, #00c9ff, #00a0ff, #1269eb); } </style> 
    
    <style>
      .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.6s;
  
}

      
      
      .button1 {
  background-color: white;
  color: black;
        border: 2px solid #e7e7e7;
  
      }
      .button1:hover {background-color: #bdbcb9;}
      
      .button2 {
  background-color: #9295a6;
  color: #000000;
        border: 2px solid #e7e7e7;
  
      }
      



      </style>
